@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-sans: Inter, ui-sans-serif, sans-serif;
  --font-serif: Roboto Serif, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;

  --radius: 0.25rem;
  --background: oklch(0.929 0.008 278.631);
  --foreground: oklch(0.36 0.053 273.422);
  --card: oklch(0.883 0.01 273.343);
  --card-foreground: oklch(0.36 0.053 273.422);
  --popover: oklch(0.929 0.008 278.631);
  --popover-foreground: oklch(0.36 0.053 273.422);
  --primary: oklch(0.466 0.23 290.144);
  --primary-foreground: oklch(0.929 0.008 278.631);
  --secondary: oklch(0.562 0.213 9.975);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(0.798 0.064 264.989);
  --muted-foreground: oklch(0.409 0.055 267.705);
  --accent: oklch(0.782 0.1 19.553);
  --accent-foreground: oklch(0.296 0.084 23.83);
  --destructive: oklch(0.48 0.1 9.516);
  --border: oklch(0.808 0.017 271.198);
  --input: oklch(0.764 0.028 269.585);
  --ring: oklch(0.466 0.23 290.144);
  --chart-1: oklch(0.476 0.14 260.216);
  --chart-2: oklch(0.795 0.139 130.136);
  --chart-3: oklch(0.523 0.104 71.022);
  --chart-4: oklch(0.493 0.091 222.057);
  --chart-5: oklch(0.436 0.128 296.922);
  --sidebar: oklch(0.883 0.01 273.343);
  --sidebar-foreground: oklch(0.36 0.053 273.422);
  --sidebar-primary: oklch(0.466 0.23 290.144);
  --sidebar-primary-foreground: oklch(0.929 0.008 278.631);
  --sidebar-accent: oklch(0.782 0.1 19.553);
  --sidebar-accent-foreground: oklch(0.296 0.084 23.83);
  --sidebar-border: oklch(0.808 0.017 271.198);
  --sidebar-ring: oklch(0.466 0.23 290.144);
  --destructive-foreground: oklch(0.929 0.008 278.631);
  --shadow-color: oklch(0.44 0.116 132.668);
  --shadow-2xs: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.05);
  --shadow-xs: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.05);
  --shadow-sm: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1), 1px 1px 2px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1), 1px 1px 2px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-md: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1), 1px 2px 4px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-lg: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1), 1px 4px 6px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-xl: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1), 1px 8px 10px -1px rgb(from var(--shadow-color) r g b / 0.1);
  --shadow-2xl: 1px 1px 6px 0px rgb(from var(--shadow-color) r g b / 0.1);
  --spacing: 0.25rem;
  --tracking-normal: 0em;
  --pattern-fg: color-mix(in oklab,var(--color-gray-950)5%,transparent);
}

.dark {
  --background: oklch(0.226 0.021 280.487);
  --foreground: oklch(0.846 0.061 274.763);
  --card: oklch(0.282 0.036 274.748);
  --card-foreground: oklch(0.846 0.061 274.763);
  --popover: oklch(0.301 0.032 284.29);
  --popover-foreground: oklch(0.907 0 0);
  --primary: oklch(0.562 0.213 9.975);
  --primary-foreground: oklch(0.97 0 0);
  --secondary: oklch(0.751 0.134 299.499);
  --secondary-foreground: oklch(0.226 0.021 280.487);
  --muted: oklch(0.329 0.041 278.156);
  --muted-foreground: oklch(0.767 0.054 275.492);
  --accent: oklch(0.436 0.128 296.922);
  --accent-foreground: oklch(0.846 0.061 274.763);
  --destructive: oklch(0.723 0.159 10.276);
  --border: oklch(0.291 0.043 274.079);
  --input: oklch(0.399 0.059 305.435);
  --ring: oklch(0.609 0.224 17.31);
  --chart-1: oklch(0.795 0.139 130.136);
  --chart-2: oklch(0.787 0.137 50.557);
  --chart-3: oklch(0.784 0.106 75.428);
  --chart-4: oklch(0.719 0.132 264.202);
  --chart-5: oklch(0.754 0.124 213.177);
  --sidebar: oklch(0.282 0.036 274.748);
  --sidebar-foreground: oklch(0.846 0.061 274.763);
  --sidebar-primary: oklch(0.562 0.213 9.975);
  --sidebar-primary-foreground: oklch(0.97 0 0);
  --sidebar-accent: oklch(0.436 0.128 296.922);
  --sidebar-accent-foreground: oklch(0.846 0.061 274.763);
  --sidebar-border: oklch(0.328 0.047 273.597);
  --sidebar-ring: oklch(0.609 0.224 17.31);
  --destructive-foreground: oklch(0.226 0.021 280.487);
  --shadow-color: oklch(0.839 0.012 71.879);
}

@theme inline {
  --font-sans: Inter, ui-sans-serif, sans-serif;
  --font-serif: Roboto Serif, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-serif: IBM Plex Serif, ui-serif, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}


@import "./custom.css";